@page "/"

@inject NavigationManager NavManager

<PageTitle>Challenge</PageTitle>

<h1>Are you smarter than StackOverflow ?</h1>

<MudTable Items="@questions" Hover="true" Breakpoint="Breakpoint.Sm" T="Question">
    <HeaderContent>            
        <MudTh>Select a question to view it's answers:</MudTh>
    </HeaderContent>
    <RowTemplate>           
        <MudTd DataLabel="Name">
            <MudLink Href="@($"answers/{@context.question_id}")">@context.title</MudLink>
        </MudTd>
    </RowTemplate>
</MudTable>